.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__image_active {
  width: 433px;
  height: 540px;
  margin: 90px 423px 90px 424px;
}

.card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  max-width: 216px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__like-button {
  background: transparent url(../images/Like\ Inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background: url(../images/Union.svg);
}

.delete__button {
  background: transparent url(../images/Trash-2.svg);
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 249px 244.7px;
  border: 0;
  cursor: pointer;
}

.delete__button:hover {
  opacity: 0.6;
}
